{% extends 'base.html' %}
 {% load static %}
  {% block title %}Kids{% endblock title %}

  {% block cart %}

{{element}}

 {% endblock %}

   {% block body %}


   <div class="container text-center">
    <h3 class="texr-center fw-bold"> Kids Wear </h3>
    </div>

<div class="container my-5">
  <div class="row">
    
      <div class="col-sm-12">
        <div class="row">

          {% for p in kids %}

          <div class="col-sm-3 text-center border border-light-subtle mb-4">


          {% comment %} <div class="col-sm-4 text-center mb-4"> {% endcomment %}
            <a href="{% url 'product-detail' p.id %}" class="btn">
              <div class="item">
                <img
                  src="{{p.product_image.url}}"
                  alt=""
                  height="200"
                  class=" img-fluid"
                />
                <div class="fw-bold">{{p.title}}</div>
                <div class="fw-bold">
                  Rs. {{p.discounted_price}}
                  <small class="fw-light text-decoration-line-through">
                    {{product.selling_price}}</small
                  >
                </div>
              </div>
            </a>
          </div>
          {%endfor%}
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
